<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block page_title %}Flasca{% endblock %}</title>

    <noscript>
      <meta http-equiv="refresh" content="0; url=http://enable-javascript.com">
    </noscript>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script defer src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  </head>
  <body>
    {% block main_content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
