<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block page_title %}{{ g.APP_NAME }}{% endblock %}</title>

    <noscript>
      <meta http-equiv="refresh" content="0; url={{ url_for('nojs') }}">
    </noscript>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- <script defer src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/material.min.js') }}"></script> -->
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script defer src="{{ url_for('static', filename='js/script.min.js') }}"></script>
    <script>
      // Initialize GoogleAuth object
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '{{ g.G_CLIENT_ID }}'
          });
        })
      }
    </script>
  </head>
  <body>
    {% from '_macros.html' import flash_message %}

    <div class="container-fluid">
      <header class="row">
        <div class="col-sm-12 header-content">
          <div class="drawer-button sm-screen-only" role="button" aria-expanded="false" tabindex="0">
            <i class="material-icons md-36">menu</i>
          </div>
          <a href="{{ url_for('index') }}">
            <h1 class="site-logo brand-color float-left my-0">{{ g.APP_NAME }}</h1>
          </a>
          <div class="float-right lg-screen-only">
            {% if user %}
            <img class="img-thumbnail img-thumbnail--circle d-block float-left mr-3" src="{{ user.photo }}" alt="{{ user.name }}'s profile picture'" title="{{ user.name }}">
            <div class="float-right">
              <span class="d-block">{{ user.name }}</span>
              <a class="logout d-block" href="{{ url_for('logout') }}">Log Out</a>
            </div>
            {% else %}
            <div class="login-container">
              <button class="login">Log In</button>
            </div>
            {% endif %}
          </div>
          <div class="clearfix"></div>
        </div> <!-- /.col .header-content -->
      </header> <!-- /.row -->

      <main class="row">
        <div class="col-sm-12 main-content">
          {% block main_content %}
          <nav class="main-content__nav lg-screen-only float-left mb-4 text-right">
            <h3 class="main-content__title">Browse by category</h3>
            {% if categories %}
              {% for c in categories %}
                {% if current_category and c.id == current_category.id %}
                <span class="d-block brand-color py-2 mb-1" href="{{ url_for('category', category=c.slug) }}">{{ c.name }}</span>
                {% else %}
                <a class="d-block py-2 mb-1" href="{{ url_for('category', category=c.slug) }}">{{ c.name }}</a>
                {% endif %}
              {% endfor %}
            {% endif %}
          </nav>
          {% endblock %}
        </div>
      </main> <!-- /.row -->

      <footer class="row">
        <div class="col-sm-12 footer-content">
          <p class="mt-3">{{ g.COPYRIGHT_YEAR }} © {{ g.APP_NAME }}</p>
        </div>
      </footer> <!-- /.row -->

      <div class="nav-drawer" aria-hidden="true">
        <h2 class="nav-drawer__title mb-4 brand-color d-block text-center">{{ g.APP_NAME }}</h2>

        <div class="mb-4">
          {% if user %}
          <img class="img-thumbnail img-thumbnail--circle d-block mx-auto mb-3" src="{{ user.photo }}" alt="{{ user.name }}'s profile picture'" title="{{ user.name }}">
          <span class="d-block text-center">{{ user.name|truncate(18, True) }}</span>
          <a class="logout d-block text-center" href="{{ url_for('logout') }}">Log Out</a>
          {% else %}
          <button class="login d-block mx-auto">Log In</button>
          {% endif %}
        </div>

        <nav class="mb-4">
          <h3 class="nav-drawer__nav-title mb-2">Browse by category</h3>
          {% if categories %}
            {% for c in categories %}
              {% if current_category and c.id == current_category.id %}
              <span class="d-block brand-color py-2 mb-1" href="{{ url_for('category', category=c.slug) }}">{{ c.name }}</span>
              {% else %}
              <a class="d-block py-2 mb-1" href="{{ url_for('category', category=c.slug) }}">{{ c.name }}</a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </nav>
      </div> <!-- /.nav-drawer -->

      <div class="obfuscator"></div>

      <div tabindex="0" class="login-modal justify-content-center align-items-center" aria-hidden='true'>
        <div>
          <h3 class="login-modal__title text-center">Log in with social apps</h3>
          <div class="login-container mx-auto mb-5">
            <img id="g-signin" class="img-fluid" src="{{ url_for('static', filename='img/gbtn_normal_2.png') }}" alt="Google Sign in" title="Sign in with google">
          </div>
          <button class="login-modal__cancel-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect d-block mx-auto">
            <i class="material-icons">close</i>
          </button>
          <span class="login-modal__cancel-button--keyboard mt-2">ESC</span>
          {{ flash_message('d-block w-100 mx-auto my-3') }}
        </div>
      </div> <!-- /.login-modal -->

      {% if user %}
        {% block floated_button %}
        <a class="floated-button" href="{{ url_for('add_item') }}" title="Create new item">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
          </button>
        </a> <!-- /.floated-button -->
        {% endblock %}
      {% endif %}

      <span class="csrf-token d-none" aria-hidden="true">{{ csrf_token() }}</span>
    </div> <!-- /.container-fluid -->
  </body>
</html>
