<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block page_title %}Flasca{% endblock %}</title>

    <noscript>
      <meta http-equiv="refresh" content="0; url=http://enable-javascript.com">
    </noscript>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script defer src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/material.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <div class="container-fluid">
      <header class="row">
        <div class="col-sm-12 top-header">
          <div class="drawer-button sm-screen-only" role="button" aria-expanded="false" tabindex="0">
            <i class="material-icons md-36">menu</i>
          </div>
          <div>
            <a href="{{ url_for('index') }}">
              <h1 class="navbar-brand site-logo brand-color float-left my-0">Flasca</h1>
            </a>
            <!-- <span class="sub-site-logo">A catalog app</span> -->
          </div>
          <div class="top-header__user float-right lg-screen-only">
            {% if user %}
            <img class="img-thumbnail d-block float-left mr-3" src="{{ url_for('static', filename='img/babel.jpg') }}" alt="{{ user.name }}'s profile picture'">
            <div class="float-right">
              <span class="d-block">{{ user.name|truncate(20, True) }}</span>
              <a class="logout py-2 d-block" href="{{ url_for('logout') }}" data-csrf-token="{{ csrf_token() }}">Log Out</a>
            </div>
            {% else %}
            <div class="login-container">
              <a class="login" href="{{ url_for('login') }}">
                <img class="img-fluid" src="{{ url_for('static', filename='img/gbtn_normal.png') }}" alt="Google log in">
              </a>
            </div>
            {% endif %}
          </div>
          <div class="clearfix"></div>
        </div>
      </header>

      <main class="row">
        <div class="col-sm-12 main-content">
          {% block main_content %}
          <nav class="main-content__nav lg-screen-only float-left mb-4 text-right">
            <span class="main-content__title">Browse by category</span>
            {% if categories %}
              {% for c in categories %}
              <a class="d-block py-2 mb-1" href="{{ url_for('category', category=c.slug) }}">{{ c.name }}</a>
              {% endfor %}
            {% endif %}
          </nav>
          {% endblock %}

        </div>
      </main>

      <footer class="row">
        <div class="col-sm-12 footer-content">
          <p class="mt-3">2017 © Flasca</p>
        </div>
      </footer>

      <div class="nav-drawer" aria-hidden="true">
        <span class="navbar-brand mb-4 brand-color d-block text-center">Flasca</span>

        <div class="side-nav__user mb-4">
          {% if user %}
          <img class="img-thumbnail d-block mx-auto mb-3" src="{{ url_for('static', filename='img/babel.jpg') }}" alt="{{ user.name }}'s profile picture'">
          <span class="d-block text-center">{{ user.name|truncate(18, True) }}</span>
          <a class="py-2 logout d-block text-center" href="{{ url_for('logout') }}">Log Out</a>
          {% else %}
          <div class="login-container mx-auto">
            <a class="login" href="{{ url_for('login') }}">
              <img class="img-fluid" src="{{ url_for('static', filename='img/gbtn_normal.png') }}" alt="Google log in">
            </a>
          </div>
          {% endif %}
        </div>

        <nav class="mb-4">
          <span class="side-nav__title mb-2">Browse by category</span>
          {% if categories %}
            {% for c in categories %}
            <a class="d-block py-2 mb-1" href="{{ url_for('category', category=c.slug) }}">{{ c.name }}</a>
            {% endfor %}
          {% endif %}
        </nav>
      </div>

      <div class="obfuscator"></div>

      <div tabindex="0" class="login-modal justify-content-center align-items-center" aria-hidden='true'>
        <div>
          <h3 class="login-modal__title">Log in with social apps</h3>
          <div class="login-container mx-auto mb-5">
            <a class="login" href="{{ url_for('login') }}">
              <img class="img-fluid" src="{{ url_for('static', filename='img/gbtn_normal_2.png') }}" alt="Google log in">
            </a>
          </div>
          <button class="login-modal__cancel-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect d-block mx-auto">
            <i class="material-icons">close</i>
          </button>
          <span class="login-modal__cancel-button--keyboard">ESC</span>
        </div>
      </div>

      {% if user %}
      <a class="item-add-button" href="{{ url_for('add_item') }}">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">add</i>
        </button>
      </a>
      {% endif %}
    </div>
  </body>
</html>
