{% extends 'base.html' %}

{% block page_title %}{{ current_category.name }} • Category{% endblock %}

{% block main_content %}
{{ super() }}

<div class="main-content__item d-flex flex-wrap mb-4">
  <h3 class="main-content__title">{{ current_category.name }}</h3>
  {% if items %}
    <div class="row w-100 mx-auto">
      {% for i in items %}
      <div class="col-sm-6 col-md-4 mb-3">
        <a href="{{ url_for('item', category=current_category.slug, item=i.slug) }}" title="Browse to {{ i.name }}">
          <div class="card item-card">
            {% if i.photos.first() %}
            <div class="item-card__photo" style="background-image: url({{ i.photos.first().url }})"></div>
            {% else %}
            <div class="item-card__photo no-image d-flex justify-content-center align-items-center">{{ i.name[0] }}</div>
            {% endif %}
            <div class="card-block p-0">
              <span class="card-title item-card__title">{{ i.name }}</span>
            </div>
          </div> <!-- /.card .item-card -->
        </a>
      </div> <!-- /.col -->
      {% endfor %}
    </div> <!-- /.row -->
  {% else %}
  <p class="w-100 py-2">No items exists...</p>
  {% endif %}
</div> <!-- /.main-content__item -->

{% endblock %}
