{% extends 'base.html' %}

{% from '_macros.html' import field_error %}

{% block page_title %}Editing {{ item.name }} ..{% endblock %}

{% block main_content %}

<div class="main-content__item mb-4">
  <h3 class="main-content__title">Editing {{ item.name }} ...</h3>
  <form class="main-content__item-form" action="" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <!-- Item name -->
    {{ field_error(form.name.errors) }}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label d-block mb-4">
      {{ form.name(id='item-name', class='mdl-textfield__input', pattern='[A-Z,a-z, ,0-9]*', required='true', autofocus='True') }}
      {{ form.name.label(class='mdl-textfield__label mb-0', for='item-name') }}
      <span class="mdl-textfield__error">Letters, numbers, and spaces only</span>
    </div>

    <!-- Item description -->
    {{ field_error(form.description.errors) }}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label d-block mb-4">
      {{ form.description(id='item-description', class='mdl-textfield__input', type='text', rows='4') }}
      {{ form.description.label(class='mdl-textfield__label mb-0', for='item-description') }}
    </div>

    <!-- Item category -->
    <div class="mb-5">
      {{ field_error(form.category_id.errors) }}
      {{ form.category_id.label }} - {{ form.category_id }}
    </div>

    <!-- Item photo album -->
    {% if item.photos.count() %}
    <div class="mb-3">
      <div class="edit-form__item-photo pb-3">
        {% for p in item.photos %}
        <div class="mdl-card">
          <div class="mdl-card__title edit-form__item-photo-content mdl-card" style="background-image: url({{ p.url }})"></div>
          <div class="mdl-card__actions">
            <a class="photo-delete-button mdl-button" href="{{ url_for('delete_photo', photo_id=p.id) }}" title="Delete the photo">delete</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Item photo -->
    <div class="mb-5">
      {{ field_error(form.photos.errors) }}
      {{ form.photos.label }} - {{ form.photos(multiple='true') }}
    </div>

    <!-- Update button -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary mb-3" type="submit">Update</button>

    <!-- Cancel button -->
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mb-3" title="Go back to {{ item.name }}">
      <a href="{{ url_for('item', category=item.category.slug, item=item.slug) }}">Cancel</a>
    </button>
  </form>
</div> <!-- /.main-content__item -->

{% endblock %}

{% block floated_button %}
<a class="floated-button" href="{{ url_for('delete_item', item=item.slug) }}" title="Delete the item">
  <button class="item-delete-button mdl-button mdl-button--fab">
    <i class="material-icons">delete</i>
  </button>
</a>
{% endblock %}
