{% extends 'base.html' %}

{% block main_content %}
{{ super() }}

<div class="main-content__item d-flex flex-wrap mb-4">
  <span class="main-content__title">Latest items</span>
  {% if items %}
    <div class="row">
      {% for i in items %}
      <div class="col-sm-6 col-md-4 mb-3">
        <div class="card item-card">
          <a href="{{ url_for('item', category=i.category.slug, item=i.slug) }}"><img class="img-fluid" src="{{ url_for('static', filename='img/s1.jpg') }}" alt="Displayed picture of {{ i.name }}"></a>
          <div class="card-block p-0">
            <a href="{{ url_for('item', category=i.category.slug, item=i.slug) }}"><span class="card-title item-card__title">{{ i.name }}</span></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
  <p class="w-100 py-2">No items exists...</p>
  {% endif %}
</div>

{% endblock %}
