{% extends 'base.html' %}

{% block main_content %}
<div class="container-fluid">
  <header class="row">
    <div class="col-sm-12 top-header">
      <div class="drawer-button sm-screen-only" role="button" aria-expanded="false" tabindex="0">
        <i class="material-icons md-36">menu</i>
      </div>
      <h1 class="navbar-brand site-logo brand-color float-left my-0">Flasca</h1>
      <div class="top-header__user float-right lg-screen-only">
        {% if user %}
        <img class="img-thumbnail d-block float-left mr-3" src="{{ url_for('static', filename='img/babel.jpg') }}" alt="{{ user.name }}'s profile picture'">
        <div class="float-right">
          <span class="d-block">{{ user.name|truncate(20, True) }}</span>
          <a class="py-2 logout d-block" href="{{ url_for('logout') }}">Log Out</a>
        </div>
        {% else %}
        <div class="login-container">
          <a class="login" href="{{ url_for('login') }}">
            <img class="img-fluid" src="{{ url_for('static', filename='img/gbtn_normal.png') }}" alt="Google log in">
          </a>
        </div>
        {% endif %}
      </div>
      <div class="clearfix"></div>
    </div>
  </header>

  <main class="row">
    <div class="col-sm-12 main-content">
      <nav class="main-content__nav lg-screen-only float-left mb-4 text-right">
        <span class="main-content__title">Browse by category</span>
        {% if categories %}
          {% for c in categories %}
          <a class="d-block py-2 mb-1" href="#">{{ c.name }}</a>
          {% endfor %}
        {% endif %}
      </nav>
      <div class="main-content__item mb-4">
        <span class="main-content__title">Latest items</span>
        {% if items %}
          <div class="row">
            {% for i in items %}
            <div class="col-sm-12 col-md-4 mb-3">
              <div class="card item-card">
                <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='img/s1.jpg') }}" alt="Displayed picture of {{ i.name }}"></a>
                <div class="card-block p-0">
                  <a href="#"><span class="card-title item-card__title">{{ i.name }}</span></a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        {% else %}
        <p>No items exists...</p>
        {% endif %}
      </div>
    </div>
  </main>

  <footer class="row">
    <div class="col-sm-12 footer-content">
      <p class="mt-3">2017 © Flasca</p>
    </div>
  </footer>

  <div class="nav-drawer" aria-hidden="true">
    <span class="navbar-brand mb-4 brand-color d-block text-center">Flasca</span>

    <div class="side-nav__user mb-4">
      {% if user %}
      <img class="img-thumbnail d-block mx-auto mb-3" src="{{ url_for('static', filename='img/babel.jpg') }}" alt="{{ user.name }}'s profile picture'">
      <span class="d-block text-center">{{ user.name|truncate(18, True) }}</span>
      <a class="py-2 logout d-block text-center" href="{{ url_for('logout') }}">Log Out</a>
      {% else %}
      <div class="login-container mx-auto">
        <a class="login" href="{{ url_for('login') }}">
          <img class="img-fluid" src="{{ url_for('static', filename='img/gbtn_normal.png') }}" alt="Google log in">
        </a>
      </div>
      {% endif %}
    </div>

    <nav class="mb-4">
      <span class="side-nav__title mb-2">Browse by category</span>
      {% if categories %}
        {% for c in categories %}
        <a class="d-block py-2 mb-1" href="#">{{ c.name }}</a>
        {% endfor %}
      {% endif %}
    </nav>
  </div>

  <div class="obfuscator"></div>
</div>
{% endblock %}
