<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
      body {
        background-color: #efefef;
        color: #444;
        font: 16px/1.7 sans-serif;
        letter-spacing: 1px;
        margin: 0;
        padding: 15px;
      }
      a {
        text-decoration: none;
      }
      div {
        font-size: 1.25rem;
        font-weight: 500;
        margin: 1rem 0;
      }
    </style>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div>
      Hey yo! No JS, no pass.
      <a href="http://enable-javascript.com" target="_blank">Now go on and get lost.</a>
      <br><br>
      ヽ(｀⌒´メ)ノ
    </div>
    <script>
      window.location.href = "/";
    </script>
  </body>
</html>
